<template>
		<div id="app">
		<div class="container-fluid">
    <h4 class="pt-5 ml-2 font-weight-bold text-primary">Aptitude (Student Merit)</h4>
		<p class="ml-2 text-muted">This section is for ROTC component only.</p>
		<div class="row justify-content-end ml-2 mr-2 mb-3 mt-5">
			<div class="col-3 col-md-3 col-lg-2">
				<p class="">Section</p>
				<div class="input-group">
					<select class="custom-select" v-model="data.section_id" @change="secChange($event)" id="section-select">
						<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
					</select>
				</div>
			</div>
			<div class="col-3 col-md-3 col-lg-2">
				<p class="">Semester</p>
				<div class="input-group">
					<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
						<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
					</select>
				</div>
			</div>
			<div class="col-3 col-md-3 col-lg-2">
				<p class="">School Year</p>
				<div class="input-group">
					<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
						<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row ml-2 mr-2 p-4 card">
			<div class="row justify-content-end">
				<div class="col-5 col-md-4 col-lg-3">
					<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<caption>Examination Records</caption>
					<thead>
						<tr class="">
							<th scope="col">ID</th>
							<th scope="col">Full Name</th>
							<th scope="col">Gender</th>
							<th scope="col">Merit</th>
							<th scope="col">Rating</th>
							<th scope="col">Set</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(rec, i) in filterAptitudeRecords" :key="i">
							<th scope="row">{{rec.id}}</th>
							<td>{{rec.last_name}}, {{rec.first_name}} {{rec.middle_name[0]}}.</td>
							<td>{{rec.gender}}</td>
							<td>{{rec.merit != null ? rec.merit.merit : ''}}</td>
							<td>{{rec.merit != null ? setRating(rec.merit.merit) + '%' : ''}}</td>
							<td>
								<button v-if="rec.merit == null" class="btn btn-sm btn-primary mr-2" v-on:click.prevent="register(rec)" :disabled="isLoading">Register</button>
								<button v-else class="btn btn-sm btn-primary mr-2" v-on:click.prevent="setAptitude(rec)" :disabled="isLoading">Update</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>

			<!--- UPDATE APTITUDE MODAL --->
		<b-modal id="updateAptitudeModal" size="sm" centered title="Set Merit">
			<p>Please enter a new value</p>
			<input type="text" v-model="merit" class="form-control">
			<template #modal-footer="{ cancel }">
				<b-button size="sm" variant="info" @click="cancel()"> Cancel </b-button>
				<b-button size="sm" variant="success" v-on:click="updateMerit">
          Set Value
        </b-button>
			</template>
    </b-modal>
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters} from 'vuex'
export default {
	async mounted(){
		document.title = "Aptitude - ROTC"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
		this.getSections(this.data);
		this.getAptitudeRecord(this.data);	
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			data: {
				semester_id: '',
				school_year_id: '',
				section_id: '',
			},
			aptitude: '',
			isLoading: false,
			aptituderecord: '',
			merit: '',
		}
	},
	computed: {
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapState('examsummary', ['examsummary']),
		...mapState('aptitude', ['aptrecord']),
		
		...mapGetters({
				default_data: 'sem/getDefaults'
			}),

		filterAptitudeRecords() {
      return this.aptrecord.filter((aptrecord) => {
        return (
          aptrecord.last_name.match(this.search) ||
          aptrecord.first_name.match(this.search) ||
          aptrecord.middle_name.match(this.search) ||
					aptrecord.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('student', ['getSections']),
		...mapActions('examsummary', ['getExaminationSummary']),
		...mapActions('aptitude', ['getAptitudeRecord', 'updateAptitudeRecord', 'storeAptRecord']),

		secChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getAptitudeRecord(this.data);	
			this.getExaminationSummary(this.data)
		},
		semyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getAptitudeRecord(this.data);	
			this.getSections(this.data);
		},
		setAptitude(rec){
			this.aptituderecord = rec
			this.merit = rec.merit.merit
			this.$bvModal.show('updateAptitudeModal');
		},
		async updateMerit(){
			if(this.data.school_year_id == '')
				return this.$toast.error('Please select a valid school year');
			if(this.data.semester_id == '')
				return this.$toast.error('Please select a valid semester');
			if(this.data.section_id == '')
				return this.$toast.error('Please select a valid section');

			let newdata = {
				semester_id: this.data.semester_id,
				school_year_id: this.data.school_year_id,
				section_id: this.data.section_id,
				student_id: this.aptituderecord.id,
				merit: this.merit,
				id: this.aptituderecord.merit.id
			}

			const res = await this.updateAptitudeRecord(newdata);
			if(res.status == 200){
				this.$bvModal.hide(this.modalId);
				this.$toast.success(`Merit record of student with an id of ${this.aptituderecord.id} was updated`);
				await this.getAptitudeRecord(this.data);
			}
			else {
				this.$toast.error('Something went wrong!');
			}
		},
		async register(rec){
			if(this.data.school_year_id == '')
				return this.$toast.error('Please select a valid school year');
			if(this.data.semester_id == '')
				return this.$toast.error('Please select a valid semester');
			if(this.data.section_id == '')
				return this.$toast.error('Please select a valid section');

			let newdata = {
				semester_id: this.data.semester_id,
				school_year_id: this.data.school_year_id,
				section_id: this.data.section_id,
				student_id: rec.id,
			}

			const res = await this.storeAptRecord(newdata);
			if(res.status == 200){
				await this.getAptitudeRecord(this.data);
				this.$toast.success('Record created successfully!')
			}
		},
		setRating(merit){
			return merit * .30;
		}
   
	}
}
</script>
