<template>
  <div id="app">
    <Sidebar />
    <Navbar :data="user" />
    <div class="content-container">
      <router-view name="dashboard"/>
      <router-view name="activities"/>
      <router-view name="attendance"/>
      <router-view name="summary"/>
      <router-view name="examsummary"/>
      <router-view name="exams"/>
      <router-view name="settings"/>
    </div>
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import Sidebar from '@/components/navigation/Sidebar'
import Navbar from '@/components/navigation/Navbar'

export default {
  data(){
    return {
      dummy: false,
    }
  },

  components: {
    Sidebar, Navbar
  },
  computed: {
    ...mapState('auth', ['user'])
  },
  async mounted() {
    document.title = "NSTP Performance Monitoring"
    const res = await this.checkUser()
    if(res.status == 401){
      this.$router.push('/login')
    }
    else {
      this.$router.push('/home/students')
    }
  },
  methods: {
    ...mapActions('auth', ['checkUser', 'logoutUser']),
    async signOut(){
      const res = await this.logoutUser()
      if(res.status == 200){
        this.$router.push('/login')
        this.$toast.success('User logged out successfuly!')
      }
    }
  }

}
</script>