<template>
  <div id="app">
    <div class="navbar">
      <div class="row w-100 align-items-center justify-content-between">
          <div class="col-6 col-md-6 col-lg-6">
            <p class="text-dark welcome-text mt-2">Welcome, {{ user.first_name + ' ' + user.last_name}}!</p>
          </div>
          <div class="col-6 col-md-6 col-lg-6 text-right">
            <button href="" class="btn btn-sm btn-danger mr-2" v-on:click.prevent="$bvModal.show('logoutModal')"><font-awesome-icon :icon="['fas', 'times-circle']" class="mt-1" /> Logout</button>
          </div>
      </div>
    </div>

    <!--- LOGOUT MODAL --->
		<b-modal id="logoutModal" centered title="Confirm Logout">
      <h6 class="my-4">Are you sure you want to logout?</h6>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="info" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="danger" v-on:click="signOut"> Logout </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import {mapActions} from 'vuex'

export default {
  data(){
    return {
      user: {
        first_name: '', 
        last_name: ''
      },
    }
  },
  props: ['data'],
  mounted() {
    setInterval(()=> {
      this.user = this.data.instructor || ''
    }, 1000)
  },
  methods: {
    ...mapActions('auth', ['checkUser', 'logoutUser']),
    async signOut(){
      const res = await this.logoutUser()
      if(res.status == 200){
        this.$router.push('/login')
        this.$toast.success('User logged out successfuly!')
      }
    }
  }

}
</script>