<template>
  <div id="app">
    <div class="sidebar">
      <img src="@/assets/images/logo.png" class="img-fluid sidebar-logo">
      <router-link to="/home/dashboard" :class="currentRoute == 'dashboard' ? 'active-link' : ''" href=""><font-awesome-icon :icon="['fas', 'home']" /> Dashboard</router-link>
      <router-link to="/home/students" href="" :class="currentRoute == 'students' ? 'active-link' : ''"><font-awesome-icon :icon="['fas', 'user-tie']" /> Students</router-link>
      <router-link to="/home/attendance" href="" :class="attendanceRoute == 'attendance' ? 'active-link' : ''"><font-awesome-icon :icon="['fas', 'clipboard-list']" /> Attendance</router-link>
      <router-link to="/home/examination" href=""  :class="examRoute == 'examination' ? 'active-link' : ''"><font-awesome-icon :icon="['fas', 'equals']" /> Examination</router-link>
      <router-link to="/home/aptitude" href="" :class="currentRoute == 'aptitude' ? 'active-link' : ''"><font-awesome-icon :icon="['fas', 'clipboard-check']" /> Aptitude</router-link>
      <router-link to="/home/settings" href="" :class="currentRoute == 'settings' ? 'active-link' : ''"><font-awesome-icon :icon="['fas', 'tools']" /> Settings</router-link>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: ''
    }
  },
  mounted() {

  },
  computed: {
    currentRoute () {
      return this.$route.name;
    },
    attendanceRoute(){
      if(this.$route.name == 'attendance' || this.$route.name == 'summary'){
        return 'attendance';
      }
      else {
        return 'hi'
      }
    },
    examRoute(){
      if(this.$route.name == 'examination' || this.$route.name == 'examsummary'){
        return 'examination';
      }
      else {
        return 'hi'
      }
    }
  }
};
</script>