<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}
</style>
