@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

p, h3, h4, h5, h6 {
  margin-bottom: 0rem !important;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #000000, #000000, #000000);
}

.hero-bg {
  position: absolute;  
  background-image: linear-gradient(to right, #654ea3, #eaafc8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.btn-glass {
  position: relative;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px 15px 5px;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
}

.btn-glass-1 {
  position: relative;
  background: rgba(7, 15, 129, 0.575);
  box-shadow: 0 5px 30px 0 rgba(22, 25, 61, 0.301);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px 15px 5px;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  transition: all 250ms;
}

.btn-glass-1:hover {
  background: rgba(38, 46, 160, 0.479);
}

.btn-glass-1:active {
  background: rgba(38, 46, 160, 0.637);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 245px;
  background-image: linear-gradient(to bottom, #3a7bd5, #3a6073);
  overflow-x: hidden;
  overflow-y: scroll;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  transition: all 250ms;
}

.sidebar a {
  padding: 16px 12px 12px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #b6b6b6;
  display: block;
  margin-top: .5rem;
}

.sidebar a:hover {
  background-color: rgba(55, 148, 236, 0.629);
}

.active-link {
  position: relative;
  background-color: rgba(55, 176, 236, 0.61);
}

.active-link::after {
  content: "";
  position: absolute;
  background-color: rgb(250, 250, 250);
  width: .5rem;
  height: .5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  right: 5%;
}

.svg-inline--fa {
  margin-left: 20px;
}

button .svg-inline--fa {
  margin-left: 0px;
  margin-right: 5px;
}

button .svg-inline--fa {
  margin-left: 0px;
  margin-right: 5px;
}

.sidebar-logo{
  max-height: 100px;
  max-width: 100px;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  transition: all 250ms;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  height: 65px;
  width: calc(100% - 245px);
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 5px 0 rgba(22, 25, 61, 0.151);
  overflow-x: hidden;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  padding: 5px 15px 5px;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  transition: all 250ms;
  z-index: 999;
}

.content-container {
  margin-top: 80px;
  margin-left: 260px;
}

/* BUTTONS */

.btn-summary{
  height: 100%;
  align-self: center;
  margin-top: 20px;
}

.btn-glass::after{
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  overflow: hidden;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-glass:hover{
  overflow: hidden;
  background: rgba(255, 255, 255, 0.37);
}

.btn-glass:hover::after{
  left: 120%;
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

.img-logo{
  max-width: 200px;
  max-height: 100px;
  position: absolute;
  top: 13%;
  left: 10%;
}

.img-container {
  position: absolute;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  top: 25%;
  z-index: 2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px 10px 15px;
}

.img-container-2 {
  position: absolute;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  top: 46%;
  left: 24%;
  z-index: 3;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px 30px 5px;
}

.img-container-3 {
  position: absolute;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  top: 33%;
  left: 55%;
  z-index: 2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px 5px 5px;
}

.vector {
  position: relative;
  margin-top: -35%;
  max-height: 225px;
}

.gradient-circle {
  position: absolute;
  top: 25%;
  right: 15%;
  width: 260px;
  height: 250px;
  z-index: 2;
  background-image: linear-gradient(to right, #8866e7c9, #f591c3d3);
  border-radius: 50%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gradient-circle-small {
  position: absolute;
  top: 55%;
  right: 15.2%;
  width: 50px;
  z-index: 1;
  height: 50px;
  background-image: linear-gradient(to right, #8866e7c9, #f591c3d3);
  border-radius: 50%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circle {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 50%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circle2 {
  position: absolute;
  bottom: 40%;
  left: 45%;
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 50%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circle3 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 50%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* CONTAINER */
.signup-container {
  position: absolute;
  background: rgba(238, 237, 237, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 5px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px 55px 20px;
}

.login-container {
  position: absolute;
  background: rgba(238, 236, 236, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 5px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px 55px 20px;
}

.filter-container {
  width: auto;
  position: absolute;
  right: 0;
  margin-right: 2.2%;
  display: flex;
}

.input-group-append {
  height: calc(1.5em + 0.75rem + 2px);
}

.input-group > .form-control, .input-group > 
.form-control-plaintext, .input-group > 
.custom-select, .input-group > .custom-file {
  padding-right: 2rem;
}

.custom-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #161616;
  background: rgba( 255, 255, 255, 0.25 );
  background-clip: padding-box;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid #5d5a85b4;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none !important;
}

.custom-input:focus {
  background: rgba( 255, 255, 255, 0.25 );
}


/* CUSTOM FONT */
.welcome-text {
  font-size: 1.2rem;
  font-weight: 400;
}

/*CUSTOM PADDING AND MARGIN*/
.pl-8 {
  padding-left: 20%;
}

.ml-8 {
  margin-left: 20%;
}

/*404 ERROR*/
.error{
  color: rgb(255, 255, 255);

  font-size: 12rem;
  font-weight: 400;
}

.notfound {
  font-weight: 400;
  color: rgb(236, 236, 236);
}

@media only screen and (max-width: 900px) {
  html {
    font-size: .9rem;
  }

  .sidebar {
    width: 120px;
  }

  .sidebar a {
    text-align: center;
    font-size: 1.1rem;
  }

  .svg-inline--fa {
    margin-left: 0px;
  }

  .content-container {
    margin-top: 80px;
    margin-left: 130px;
  }

  .navbar {
    width: calc(100% - 120px);
  }

  .sidebar-logo {
    max-width: 80px;
    max-height: 80px;
  }
}