<template>
	<div id="app">
		<div class="container-fluid">
			<h5 class="pl-2 pt-4">Attendance Summary </h5>
			<div class="row justify-content-end mr-1 mb-3">
				<router-link to="/home/attendance" class="btn btn-summary btn-primary" id="viewsummary">Attendance</router-link>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Select section</p>
					<select class="custom-select" v-model="data.section_id" @change="secChange($event)" id="section-select">
						<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
					</select>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 mb-4 card">
				<div class="row justify-content-end">
					<div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
					<button class="btn btn-sm mb-2 mr-2 btn-primary" v-on:click="view = false" v-if="view">🡰 Return</button>
				</div>
				<div class="table-responsive" v-if="!view">
					<table class="table table-striped">
						<caption>Summary of Attendance</caption>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Middle Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Present Days</th>
								<th scope="col">Absent Days</th>
								<th scope="col">Rating</th>
								<th score="col">View</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(att, i) in filterSummary" :key="i" >
								<th>{{i + 1}}</th>
								<th>{{att.id}}</th>
								<td>{{att.first_name}}</td>
								<td>{{att.middle_name}}</td>
								<td>{{att.last_name}}</td>
								<td>{{att.gender}}</td>
								<td>{{att.presentdays}}</td>
								<td>{{att.totalmeetings - att.presentdays}}</td>
								<td>{{setRating(att.presentdays, att.totalmeetings).toFixed(2)}}%</td>
								<td><button class="btn btn-sm btn-primary" v-on:click="viewAttendance(att)">Logs</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-responsive" v-else>
					<table class="table table-striped">
						<caption>Summary of Attendance</caption>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">ID</th>
								<th scope="col">Dates</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr v-if="studentattendance.attendance.length == 0" class="pt-3"> No records found </tr>
							<tr v-for="(att, i) in studentattendance.attendance" :key="i" >
								<td>{{i + 1}}</td>
								<td>{{att.student_id}}</td>
								<td>{{att.date | newdate }}</td>
								<td>{{att.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import moment from 'moment'
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	filters: {
		newdate: function(date){
			return moment(date).format('(ddd) MMMM D[,] YYYY');   
		}
	},
	async mounted(){
		document.title = "Attendance Monitoring"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
		this.getSections(this.data);
		this.getAttendanceSummary(this.data);

		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			date: '',
			data: {
				semester_id: '',
				section_id: '',
				school_year_id: '',
			},
			id: '',
			view: false,
			isLoading: false,
			studentattendance: '',
		}
	},
	computed: {
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
    ...mapState('summary', ['summary']),
    ...mapState('attendance', ['total']),
		...mapGetters({
			default_data: 'sem/getDefaults'
		}),
		filterSummary() {
      return this.summary.filter((summary) => {
        return (
          summary.last_name.match(this.search) ||
          summary.first_name.match(this.search) ||
          summary.middle_name.match(this.search) ||
					summary.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('summary', ['getAttendanceSummary']),
		...mapActions('student', ['getSections']),
	
		secChange(event){
			this.view = false
			this.$store.commit('sem/SET_DEFAULTS', this.data)
      this.getAttendanceSummary(this.data);
		},
		semyrChange(event){
			this.view = false
			this.$store.commit('sem/SET_DEFAULTS', this.data)
      this.getAttendanceSummary(this.data);
			this.getSections(this.data);
		},
		setRating(present, total){
			let rating = 0;
			
			rating = (( present / total ) * 100) * .30
			return rating;
		},
		viewAttendance(data){
			this.studentattendance = data
			console.log(this.studentattendance)
			this.view = true
		}
		
	}
}
</script>

