<template>
  <div class="container-fluid p-0" style="height: 100vh">
    <div class="hero-bg">
      <div class="row h-100 w-100 justify-content-center align-items-center m-0">
        <div class="circle"></div>
        <div class="gradient-circle"></div>
        <div class="gradient-circle-small"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <img src="@/assets/images/logo.png" class="img-fluid img-logo">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="text-light font-weight-bold pl-8">NSTP Students <br/> Performance Monitoring <br/> System</h1>
          <h6 class="text-light pt-2 pl-8">Monitor the performance of your students  <br/> easily and keep track of those <br/> who  needs your help.</h6>
          <router-link to="/signup"><button class="btn-glass mt-2 ml-8 ">Sign-up</button></router-link>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100">
          <div class="login-container mr-4">
            <form ref="login">
              <h3 class="text-dark text-center mt-4">Welcome</h3>
              <p class="text-center text-dark">Please enter your credentials to proceed</p>
              <div class="mb-1 mt-4">
                <label for="email" class="form-label text-dark">Email address</label>
                <input type="text"  v-model="data.email" class="custom-input" id="email" placeholder="sample_email@gmail.com" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label text-dark">Password</label>
                <input type="password" v-model="data.password" class="custom-input" id="password" placeholder="*****" required>
              </div>
              <div class="pt-3 pb-3">
                <button class="btn btn-success text-light" v-on:click.prevent="signIn" :disabled="isLoading">Sign-in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      data: {
        email: '', password: ''
      },
      isValidated: false,
      isLoading: false,
    };
  },
  mounted() {
    document.title = "Welcome, Please Login"
   
  },
  methods: {
    ...mapActions("auth", ["LogInUser"]),

    async signIn(){
      this.validateField();
      this.isLoading = true
      if(this.isValidated){
        const res = await this.LogInUser(this.data);
        if(res.status == 401) {
          this.$refs.login.reset();
          this.$toast.error('Login Failed!')
        }
        else if(res.status == 200){
          this.$router.push('/home')
          this.$toast.success('User logged in successfully')
        }
        this.isLoading = false
      }
      this.isLoading = false
    },
    isEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
    validateField(){
      if (!this.isEmail())
        return this.$toast.error('Please enter a valid email');
      if (this.data.password.trim() == '')
        return this.$toast.error('Please enter your password');
    
      this.isValidated = true
    }
  },
};
</script>