<template>
  <div class="container-fluid p-0" style="height: 100vh">
    <div class="hero-bg">
      <div class="row h-100 w-100 justify-content-center align-items-center m-0">
        <div class="circle"></div>
        <div class="gradient-circle"></div>
        <div class="gradient-circle-small"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <img src="@/assets/images/logo.png" class="img-fluid img-logo">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="text-light font-weight-bold pl-8">NSTP Students <br/> Performance Monitoring <br/> System</h1>
          <h6 class="text-light pt-2 pl-8">Monitor the performance of your students  <br/> easily and keep track of those <br/> who  needs your help.</h6>
          <router-link to="/login"><button class="btn-glass mt-2 ml-8 ">Sign-in</button></router-link>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100">
          <div class="img-container mr-4">
            <img src="@/assets/images/boy1.png" class="img-fluid vector">
          </div>
          <div class="img-container-2">
            <img src="@/assets/images/girl1.png" class="img-fluid vector">
          </div>
          <div class="img-container-3">
            <img src="@/assets/images/boy2.png" class="img-fluid vector">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted(){
    document.title = "NSTP Performance Monitoring"
  },
  data() {
    return {
      demo: false,
    };
  },
  methods: {},
};
</script>
<style>
a {
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
  color: #fff !important;
}
</style>